.side__bar
  .side__bar__a
    .side__bar__b
      .side__bar__c
        ニックネーム
      .side__bar__d
        = link_to "http://localhost:3000/", class: "side__bar__d__btn" do
          = icon('fas', 'edit')
        = link_to "http://localhost:3000/", class: "sibe__bar__d__btn" do
          = icon('fas', 'cog')
  .group__list
    .group
      .group__name
        hoge
      .group__message 
        メッセージ
    .group
      .group__name
        hoge
      .group__message
        メッセージ
